In [1]:
from functions import forecast_pib

In [2]:
forecast_pib()

Importing plotly failed. Interactive plots will not work.

----
Last YQ has not changed. Forecasting with last registered values

INFO:prophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:prophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

     year  quarter          full
0    1993        1  1.000889e+07
1    1993        2  1.017104e+07
2    1993        3  1.006626e+07
3    1993        4  1.041610e+07
4    1994        1  1.034339e+07
..    ...      ...           ...
155  2031        4  2.238697e+07
156  2032        1  2.199135e+07
157  2032        2  2.187226e+07
158  2032        3  2.189166e+07
159  2032        4  2.270297e+07

[160 rows x 3 columns]